.CreatrGrid-tiles-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 80%;
	margin: auto;
}

@media only screen and (max-width: 1048px) {
	.CreatrGrid-tiles-container {
		max-width: 90%;
	}
}