.AbtHero {
  height: 55vh;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
  background: url(/images/busker-gal-1.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Abt {
  font-family: Monoton;
}