/* UNIVERSAL STYLES */
/* GLOBAL */
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
--primary: #39393E;
--secondary: #4761f3;
--tertiary: white;
--dark-bg: #39393E;
--rose: #FFD9FF;
--bg-pink: #F6AFF6;
--mauve: #916B94;
--eggplant: #57315B;

}

body {
  max-width: 75%;
  margin: auto;
  color: white;
  background-color: var(--primary);
}

a {
  color: var(--tertiary);
}

a:hover {
  text-decoration: none;
  color: var(--tertiary);
}
