/* NAVBAR */
.Navigation {
  /* being overridden by * selector in index.css */
  /* color: var(--secondary); */
  background-color: #7E7E81;
}

.Navigation-brand-bskr {
  font-family: Monoton;
  font-size: 2rem;
}

