/* CREATOR PROFILE */
.CreatrProf {
	max-width: 80%;
	margin: 0 auto 0 auto;
}

.CreatrProf ul {
	padding: 0;
}

.CreatrProf li {
	list-style: none;
}

.CreatrProf svg:hover {
	cursor: pointer;
	opacity: .5;
}
