/* CREATOR PROFILE */
.CreatrProf h1 {
	font-family: Monoton;
	font-size: 2.8rem;
}

.CreatrProf .card {
	border: 0;
}

.CreatrProf svg:hover {
	cursor: pointer;
	opacity: .5;
}

/* need to do this since we are using .btn class to style...should refactor */
/* .CreatrProf span:hover {
  cursor: default !important;
}
 */
