/* CREATOR PROFILE */
.CreatrProf {
	max-width: 75%;
	margin: 0 auto 0 auto;
}

.CreatrProf-1half-Container {
	height: 50vh;
}

.CreatrProf-2half-Container {
	height: 20vh;
}

.Vibes-Panel {
	height: 15vh;
}

.Songs-Panel {
	height: 55vh;
	background-color: var(--secondary-grey);
	border-radius: 5px;
}

.Songs-List {
	width: 80%;
}

.rhap_container {
	position: absolute;
	bottom: 0;
}

.CreatrProf ul {
	padding: 0;
}

.CreatrProf li {
	list-style: none;
}

.CreatrProf svg:hover {
	cursor: pointer;
	opacity: .5;
}

.Artist-Name {
	font-family: Monoton;
  	font-size: 2.8rem;
}

.Text-Black {
	color: black;
}

.Song {
	background-color: var(--search-grey);
}

.Play-Btn {
	font-size: 28px;
}

.Add-Btn {
	font-size: 18px;
	margin-right: 1rem !important;
}

.card {
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

.card-img-top {
	width: 375px;
	height: 375px;
}