.Cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 18%;
  max-width: 25%;
  max-height: 60%;
  background-color: white;
  color: black;
  z-index: 9999;
}

.ViewCartModal .modal-content {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 15%;
  max-width: 20%;
  max-height: 60%;
}

.ViewCartModal .modal-header {
  color: black;
}

.cart-contents {
  font-size: .7rem;
}

.close-modal-btn {
  cursor: pointer;
}

.RemoveFromCart {
  color: var(--secondary);
  background-color: transparent;
  border: none;
}

.RemoveFromCart:hover {
  background-color: transparent;
  color: black;
}

.ViewCartBtn {
  color: white !important;
  margin-right: 1rem;
  cursor: pointer;
}

.CheckOutBtn {
  background-color: var(--secondary);
  border: none;
  color: white;
}

@media only screen and (max-width: 1048px) {
	.Cart {
    min-width: 15%;
    max-width: 35%;
    max-height: 60%;
  }
}

@media only screen and (max-width: 788px) {
	.Cart {
    min-width: 15%;
    max-width: 40%;
    max-height: 60%;
  }
  .cart-contents {
    font-size: .6rem;
  }
}

@media only screen and (max-width: 400px) {
	.Cart {
    min-width: 15%;
    max-width: 65%;
    max-height: 60%;
  }
  .cart-contents {
    font-size: .45rem;
  }
}