.VibeMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.VibeButtonGrouping {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}