
/* TEMPORARY CUSTOM UTILITY CLASSES */
.bg-gray {
  background-color: rgb(34, 34, 34, 0.6);
}

.bg-light-gray {
  background-color: rgb(219, 219, 219);
}

/* LEFT COLUMN */
.CreatorDashboard {
  padding-top: 5rem;
}

 /* Probably a better way to do this using props but maybe this is ok */
 /* https://react-dropzone-uploader.js.org/docs/customization */
 .CreatorDashboard .dzu-dropzone {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}


.CreatorDashboard-photo-container {
  height: 200px;
	width: 200px;
	/* background-color: rgb(219, 219, 219); */
}

.CreatorDashboard-dropzone-container {
  width: 60%;
	height: 10vh;
}



/* MEDIA QUERIES */
/* 
@media only screen and (max-width: 375px) {
	.CreatorDashboard h2 {
		font-size: 20px;
	}
} */
