.Hero {
    height: 55vh;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    background: url(/images/busker.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}