/* TEMPORARY CUSTOM UTILITY CLASSES */
.CreatrDash {
	max-width: 80%;
	margin: 0 auto 0 auto;
}

.CreatrDash-1half-Container {
	height: 46vh;
	background-color: var(--secondary-grey);
}

.CreatrDash-2half-Container {
	height: 24vh;
	background-color: var(--secondary-grey);
}

.CreatrDash-Vibes-Panel {
	background-color: var(--secondary-grey);
	height: 18vh;
}

.CreatrDash-Songs-Panel {
	background-color: var(--secondary-grey);
	height: 53vh;
}

.rhap_container {
	position: absolute;
	bottom: 0;
}

.card {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	width: 375px;
	height: 375px;
}

.Edit-Btn {
	background-color: var(--player-btn-purple);
}

.bg-gray {
	background-color: rgb(34, 34, 34, 0.6);
}

.bg-light-gray {
	background-color: rgb(219, 219, 219);
}