/* TEMPORARY CUSTOM UTILITY CLASSES */
.bg-gray {
	background-color: rgb(34, 34, 34, 0.6);
}

.bg-light-gray {
	background-color: rgb(219, 219, 219);
}

/* LEFT COLUMN */
.CreatrDash {
	padding-top: 5rem;
}

/* Probably a better way to do this using props but maybe this is ok */
/* https://react-dropzone-uploader.js.org/docs/customization */
.CreatrDash .dzu-dropzone {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

.CreatrDash-photo-container {
	height: 200px;
	width: 200px;
	/* background-color: rgb(219, 219, 219); */
}

.CreatrDash img {
  height: 100%;
}

.CreatrDash-dropzone-container {
	width: 60%;
	height: 10vh;
}

/* MEDIA QUERIES */
/* 
@media only screen and (max-width: 375px) {
	.CreatrDash h2 {
		font-size: 20px;
	}
} */
